*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
#campus{
    background-repeat: no-repeat;
    background-size:cover;
}
div.container{
    margin-left: -300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:white;
    box-shadow: 0 50px 50px -50px darkslategrey;
}

div.container3{
    margin-left: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    background-color:white;
    box-shadow: 0 50px 50px -50px darkslategrey;
}


div.container div.add button{
    width: 200px;
    height:150px;
    color: white;
    background-color:#1c1c1e;
    border:none;
    outline: none;
    border-radius: 2px;;
    font-size: 14px;
    padding: 5px 12px;
    font-weight: 500;
}

div.container3 div.display button{
    width: 200px;
    height:150px;
    font-size: 40px;
    color: white;
    background-color:#1c1c1e;
    border:none;
    outline: none;
    border-radius: 2px;;
    font-size: 14px;
    padding: 5px 12px;
    font-weight: 500;
}

div.container div.add button :visited{
    color: white;
}

div.container3 div.display button :visited{
    color: white;
}


header {
    display: flex;
    align-items: center;
    padding: 30px 10%;
    background-color:#313552;
}

.logo{
    cursor: pointer;
}
li{
   color:white;
    display: inline-block;
    padding:0px 20px;

}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgoldenrod;
    text-align: center;
    border: 3px solid rgb(7, 7, 7);
    padding: 10px;
  }