*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li, a, button {
    font-family: Helvetica, sans-serif, Arial;
    font-weight: 500;
    font-size:16px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color:#313552;
}

.logo{
    cursor: pointer;
}

.nav_links {
    list-style: none;

}
.nav_links li{
    color:white;
    display: inline-block;
    padding:0px 20px;

}

.nav_links li a{
    color:white;
    transition:all 0.3s ease 0s;
}

.nav_links li a:hover{
    color:#5297ff;
}

button{
    padding:9px 25px;
    background-color:#5297ff;
    color:white;
    border-radius: 50px;
    cursor:pointer;
    transition:all 0.3s ease 0s;
}

button:hover{
    background-color: #344CB7;
}
html {
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif, Arial;
}
#campus{
    background-repeat: no-repeat;
    background-size:cover;
}
body {
    background-image: url('campus.png');
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size:cover;
}






.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgoldenrod;
    text-align: center;
    border: 3px solid rgb(7, 7, 7);
    padding: 10px;
  }